body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(122, 185, 248);
    text-align: center;
    border-radius: 8px;
}

input, select, button {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
}

button {
    background-color: #5ae96d;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}
