body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(166, 225, 248);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select, button {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1d5020;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}
